<launch>
  <param name="robot_description"
        textfile="$(find toycar)/urdf/toycar.urdf" />

  
<include file="$(find gazebo_ros)/launch/empty_world.launch">
<arg name="world_name" value="$(find toycar)/world/competition_arena.world"/>
</include>


<node
name="spawn_model"
pkg="gazebo_ros"
type="spawn_model"
args="-file $(find toycar)/urdf/toycar.urdf -urdf -model toycar"
output="screen"/>


<node pkg="rviz" type="rviz" name="rviz"/>

<!--  CONTROLLER LAUNCH -->

<rosparam file="$(find toycar)/config/controllers.yaml" command="load"/>
<rosparam file="$(find toycar)/config/hardware.yaml" command="load"/>
<rosparam file="$(find toycar)/config/joint_limits.yaml" command="load"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" 
respawn="false" output="screen" ns="/toycar" 
args="joint_state_controller joint1_velocity_controller joint2_velocity_controller 
joint4_position_controller 
joint5_position_controller"/>

<!-- convert joint states to TF transforms for rviz, etc -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
respawn="false" output="screen">
<remap from="/joint_states" to="/toycar/joint_states" />
</node>

<param name = "use_gui" value = "true"/> 

<!-- Launching the Python file with this as well  -->

</launch>

