<launch>


<rosparam file="$(find toycar)/config/joint_limits.yaml" command="load"/>
<rosparam file="$(find toycar)/config/controllers.yaml" command="load"/>
<rosparam file="$(find toycar)/config/hardware.yaml" command="load"/>


<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">


<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/toycar" args="joint_state_controller
					  joint1_position_controller
					  joint2_position_controller"/>

<remap from="/joint_states" to="/toycar/joint_states" />
</node>
 
<param name = "use_gui" value = "true"/>

</launch>

